.nav{
     /* width: 60vh;
     height: 50vh; */
     background-color: rgb(135, 91, 135);
     display: flex;
     width: 100%;
     gap:20px;
     justify-content: space-between;
 }
 
 .active{
     color: yellow;
 }
 
 